<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list</title>
  </head>
  <body >
    <% if(kindOfDay.includes("Friday")||kindOfDay.includes("Saturday") ){ %>
    <h1 style="color: red">Today is: <%= kindOfDay%></h1>
    <img
      style="width: 200px; height: 100px"
      src="<%= kindOfImage%>"
      alt="today's image'"
    />

    <% }else{%>

    <h1 style="color: blue">Today is: <%= kindOfDay%></h1>
    <img
      style="width: 200px; height: 100px"
      src="<%= kindOfImage%>"
      alt="today's image'"
    />
    <%}%>
    <ul>
    

      <% for(var i=0; i<tasks.length; i++) {%>
        <li><%= tasks[i]%></li>
     <% } %>
    </ul>
   
    <form action="/" method="post">
      <input type="text" name="task" id="" />
      <button type="submit">Add Task</button>
    </form>
  </body>
</html>
